h3 {{title}}

.row
  h4 Enter Exercise
  form(name='exerciseForm', novalidate)
    .col-xs-3
      .form-group
        select.form-control#name(name='name', ng-model='activity', ng-options='activity.type for activity in activities | orderBy:"type"', required)
          option(value='') Select Activity
      .form-group
        select.form-contro#intensity(ng-show='activity', ng-model='exercise', ng-options='level as level.name for level in activity.level', required)
          option(value='') Select Intensity
      .form-group
        label(for='hours') Enter Duration in Hours
        input.form-control#hours(type='number', name='hours', ng-model='exercise.hours', required, placeholder='0.5')
      .form-group
        button.btn.btn-primary(ng-show'exerciseForm.$valid', ng-click='addExercise()') Add Activity
